---
import { type CollectionEntry, getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ScrollToTopButton from "../../components/ScrollToTopButton.astro";
import Comments from "../../components/Comments.astro";
import Toc from "../../components/Toc.astro";

export async function getStaticPaths() {
  const posts = (await getCollection("posts")).sort(
    (a, b) => Date.parse(b.data.publishedOn) - Date.parse(a.data.publishedOn),
  );

  return posts.map((post) => ({
    params: { id: post.id.replace(/\.md?$/, "") },
    props: post,
  }));
}

type Props = CollectionEntry<"posts">;

const post = Astro.props;

const { Content, headings } = await render(post);

const words = post.body.split(" ").length;
const readTime = Math.round(words / 200);
---

<BaseLayout title={post.data.title}>
  <div class="flex flex-col items-start p-4">
    <div>
      <p class="text-3xl font-semibold">{post.data.title}</p>
      <p class="text-neutral-600 dark:text-neutral-400 mt-1">
        {new Date(post.data.publishedOn).toDateString()} &bull; {readTime} min &bull;
        {post.data.author}
      </p>
    </div>
    <Toc headings={headings} />
    <article
      class="mt-4 prose dark:prose-invert prose-neutral prose-pre:max-w-[85vw] md:prose-pre:max-w-none prose-code:break-all prose-a:break-all prose-headings:my-4 prose-p:my-0 max-w-screen-md"
    >
      <Content />
    </article>
    <ScrollToTopButton />
    <Comments />
  </div>
</BaseLayout>
