---
import Layout from "@/layouts/base.astro";
import ProjectCard from "@/components/project-card.astro";

const projects = [
    {
        title: "Tinyauth",
        description:
            "The tiniest authentication and authorization server you have ever seen.",
        image: "https://github.com/tinyauthapp/tinyauth/raw/main/assets/screenshot.png",
        repo: "https://github.com/tinyauthapp/tinyauth",
        website: "https://tinyauth.app",
    },
    {
        title: "Runtipi",
        description:
            "Runtipi is a homeserver for everyone! One command setup, one click installs for your favorites self-hosted apps.",
        image: "https://raw.githubusercontent.com/runtipi/runtipi/develop/screenshots/appstore.png",
        repo: "https://github.com/runtipi/runtipi",
        website: "https://runtipi.io",
    },
    {
        title: "XPHTTPBridge",
        description:
            "A lightweight X-Plane 11 plugin written in Rust that exposes an HTTP API for reading and writing X-Plane DataRefs.",
        repo: "https://github.com/steveiliop56/xphttpbridge",
    },
    {
        title: "This Portfolio",
        description: "The source code of this very portfolio website.",
        repo: "https://github.com/steveiliop56/steveiliop56.github.io",
    },
    {
        title: "Pi 5",
        description:
            "GitOps repository for my Raspberry Pi 5 Kubernetes cluster.",
        repo: "https://github.com/steveiliop56/pi5",
    },
];
---

<Layout title="Projects" description="My personal projects.">
    <div class="p-8">
        <h1 class="font-bold text-lg mb-2">Projects</h1>
        <div class="mb-8">
            I have worked on many different projects throughout the years, but
            below are my favorites.
        </div>
        <div class="grid grid-rows-1">
            {
                projects.map((project) => (
                    <div class="mb-4">
                        <ProjectCard
                            title={project.title}
                            description={project.description}
                            image={project.image}
                            repo={project.repo}
                            website={project.website}
                        />
                    </div>
                ))
            }
        </div>
    </div>
</Layout>
