---
import { clsx } from "clsx";

const { post, border } = Astro.props;

const words = post.body.split(" ");
const readTime = Math.round(words.length / 200);
---

<a href={`/posts/${post.id}`} aria-label={`Read more about ${post.data.title}`}>
    <div
        class={clsx(
            "hover:opacity-80 hover:underline",
            border &&
                "p-4 rounded-lg border border-neutral-300 dark:border-neutral-800",
        )}
    >
        <div class="text-sm text-neutral-600 dark:text-neutral-400 mb-1">
            <span>
                {
                    post.data.publishedOn.toLocaleDateString("en-US", {
                        year: "numeric",
                        month: "long",
                        day: "numeric",
                    })
                }
            </span>
            <span class="mx-1">&#x2022</span>
            <span>{readTime} min read</span>
        </div>
        <h2
            class="font-medium text-lg text-neutral-900 dark:text-neutral-200 mb-1"
        >
            {post.data.title}
        </h2>
        <p>{post.data.description}</p>
    </div>
</a>
