---
const { title, description, slug, date } = Astro.props;
---

<div>
    <div class="text-sm text-neutral-600 dark:text-neutral-400 mb-1">
        {date}
    </div>
    <h2 class="font-medium text-lg text-neutral-900 dark:text-neutral-200 mb-1">
        {title}
    </h2>
    <p>{description}</p>
    <a
        href={`/posts/${slug}`}
        class="italic underline text-sm mt-2 inline-block"
        aria-label={`Read more about ${title}`}
    >
        Read more
    </a>
</div>
