---
import { Icon } from "astro-icon/components";
import clsx from "clsx";

const { repo, description, name, language, color } = Astro.props;
---

<script>
  class AstroProject extends HTMLElement {
    connectedCallback() {
      const repo = this.dataset.repo;
      const formatter = new Intl.NumberFormat("en", {
        notation: "compact",
        compactDisplay: "short",
      });

      type RepoData = {
        stargazers_count: number;
        forks_count: number;
      };

      async function getRepoData() {
        const res = await fetch(`https://api.github.com/repos/${repo}`);
        const data = await res.json();
        return data as RepoData;
      }

      async function updateData() {
        const data = await getRepoData();
        const starsElement = document.getElementById(`${repo}-stars`);
        if (starsElement) {
          starsElement.innerText = formatter
            .format(data.stargazers_count)
            .toLocaleLowerCase();
        }
        const forksElement = document.getElementById(`${repo}-forks`);
        if (forksElement) {
          forksElement.innerText = formatter
            .format(data.forks_count)
            .toLocaleLowerCase();
        }
      }

      updateData();
    }
  }

  customElements.define("astro-project", AstroProject);
</script>

<astro-project data-repo={repo}>
  <div
    class="flex flex-col justify-between border border-neutral-200 dark:border-neutral-800 rounded-md p-4 max-w-md h-full drop-shadow-sm"
  >
    <div>
      <div>
        <Icon name="tabler:brand-github" class="size-5 inline-block" />
        <a
          href={`https://github.com/${repo}`}
          title={name}
          class="text-blue-700 dark:text-blue-500 hover:opacity-80 underline text-base font-medium inline-block"
        >
          {repo}
        </a>
      </div>
      <p class="text-sm text-neutral-700 dark:text-neutral-300 mt-2">
        {description}
      </p>
    </div>
    <div>
      <div class="inline-block">
        <div class={clsx("size-2 rounded-full inline-block", `bg-${color}`)}>
        </div>
        <p class="text-xs text-neutral-600 dark:text-neutral-400 inline-block">
          {language}
        </p>
      </div>
      <div class="inline-block ml-2">
        <Icon
          name="tabler:star"
          class="size-3 text-neutral-600 dark:text-neutral-400 inline-block"
        />
        <p
          class="text-xs text-neutral-600 dark:text-neutral-400 inline-block"
          id={`${repo}-stars`}
        >
        </p>
      </div>
      <div class="inline-block ml-2">
        <Icon
          name="tabler:git-fork"
          class="size-3 text-neutral-600 dark:text-neutral-400 inline-block"
        />
        <p
          class="text-xs text-neutral-600 dark:text-neutral-400 inline-block"
          id={`${repo}-forks`}
        >
        </p>
      </div>
    </div>
  </div>
</astro-project>
