---
const { title, description, image, link } = Astro.props;
---

<a aria-label={title} href={link}>
  <div
    class="flex flex-row gap-4 hover:opacity-80 max-w-md justify-center items-center"
  >
    <div class="flex justify-center items-center">
      <img
        src={image}
        alt={`${title} logo`}
        class="rounded drop-shadow-lg max-w-20"
      />
    </div>
    <div class="flex flex-col gap-1 justify-center">
      <p class="font-bold text-lg">{title}</p>
      <p class="text-base text-zinc-700 dark:text-zinc-300">{description}</p>
    </div>
  </div>
</a>
